body{
    text-align: center;
    background-image: url(bgimg.jpg);
    background-repeat: none;
    background-size: cover;
}

.cookies{
    background: linear-gradient(to right, rgb(246, 246, 246), white);
    width: 600px;
    height: 450px;
    margin-left: 30vw;
    margin-top: 15vh;
    border: 5px solid #171d26;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-top: 80px;
    color: #171d26;
}
button{
    width: 350px;
    height: 50px;
    border: 2px solid #171d26;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    background: rgb(241, 237, 237);
}
button:active{
    background: rgb(206, 191, 191);
}